{
    "plugins": [
        "@prettier/plugin-php",
        "prettier-plugin-blade"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade",
                "tabWidth": 4,
                "sortTailwindcssClasses": true,
                "printWidth": 120,
                "bracketSameLine": true
            }
        }
    ]
}
